html,body,div{
	margin:0;
	padding:0;
	font-family:"微软雅黑",Arial,sans-serif;
}

input,button,p,h1,h2,h3,h4,h5,h6,ul,select{
	font-family:"微软雅黑",Arial,sans-serif;
}

#app-set, #description, .onetime{
	float:left;
}

#content{
	padding:30px 0px 100px 0px;
	width:1000px;
}

#app-set{
	padding:0 20px 0 10px;
	display:none;
}

#description{
	padding-top:30px;
}

#description div{
	
	border-top:1px solid #aaa;
	height:570px;
}

.delete-one{
	float:right;
	margin-right:40px;
	font-size:2em;
	font-weight:bold;
	color:#a0a0a0;
}
.delete-one:hover{
	color:#808080;
	cursor:default;
}

.time-title{
	height:30px;
	overflow:hidden;
}

.time-title h3{
	margin:0 0 10px 10px;
}

.overlay{
	padding:5px 10px;
	border-top:1px solid #aaa;
	border-left:1px solid #bbb;
}

.pic-frame{
//	padding:10px;
    border-radius: 4px 4px 4px 4px;
}

.pic-bound{
	position:relative;
	overflow: hidden;
	width:800px;
	height:560px;
	z-index:1;
}
.fnlpic{
	position:absolute;
	left:0px;
	top:50%;
	margin-top: -400px;
}

#timeline{
	width:400px;
	float:left;
	height:800px;
	margin:30px 0 0 50px;
}

#toolbar{
	position:fixed;
	left:0;
	bottom:0px;
	padding:10px 20px 0 20px;
	z-index:1000;

}

.back-color{
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
	width:100%;
	height:100%;
	background-color:#eee;
	opacity:0.7;
}
.cls{
	clear:both;
}

#toolbar button{
	font-size:1.5em;
	display: block;
    float: left;
	padding:18px 20px;
	margin-right:20px;
}

#toolbar #apply-set, #toolbar #cancle-set{
	display:none;
}

#button-set{
	float:left;
	border:1px outset #CDCDCD;
	border-radius: 4px 4px 4px 4px;
}

#toolbar #moveleft,#toolbar #moveright{
	font-size:3em;
	padding:6px 20px;
	margin:0;
	border:0;
	background-color:#e0e0e0;
}

#toolbar #moveleft:hover,#toolbar #moveright:hover{
	background-color:#a0a0a0;
}

#toolbar #addone{
	font-size:3em;
	padding:5px 20px;
	margin-left:20px;
}

#nextone{
	display:none;
}

